/Binaries/
/DerivedDataCache/
/Intermediate/
/Saved/
/.vs/
/.idea/
/Builds/
/dist/
/*.sln
/*.suo
/*.VC.db
/Content/Materials/
__pycache__/
*.pyc
.env
.env.*
!.env.example
/.local/
/Build/*
!/Build/Windows/
/Build/Windows/*
!/Build/Windows/Application.ico
